/* ## ENTRY ANIMATIONS ## */
/* Fade In Bottom */
.fade-in-bottom {
    animation: fade-in-bottom 0.6s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes fade-in-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Scale Up Vert Top */
.scale-up-ver-top {
    animation: scale-up-ver-top 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes scale-up-ver-top {
    0% {
        transform: scaleY(0.0);
        transform-origin: 100% 0%;
    }

    100% {
        transform: scaleY(1);
        transform-origin: 100% 0%;
    }
}


/* ## EXIT ANIMATIONS ## */
/* Fade Out Top */
.fade-out-top {
    animation: fade-out-top 0.6s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes fade-out-top {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        transform: translateY(-50px);
        opacity: 0;
    }
}